@import 'base';

$top-menu-height: 48px;

header {
    height: 216px;
}

.top-menu {
    height: $top-menu-height;
    border-bottom: 1px solid #FAFAFB;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.top-menu .dd:first-child {
    margin-right: 20px;
}

.hamburger {
    display: none;
    outline: none;
}

.profile-link,
.cart-link {
    font-size: 14px;
    text-decoration: none;
    color: $primary-color;
    margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
    margin-right: 10px;
}

.cart-controls {
    margin-right: 58px;
}

.cart-link {
    margin-right: 0;
}

.cart-total {
    opacity: .5;
    margin-left: 10px;
    font-size: 14px;
}

.logo-and-nav-container {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 36px;
}

nav {
    width: 660px;
    justify-content: space-between;
}

.nav-link {
    @extend .font-semibold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $primary-color;

    &.active,
    &:hover {
        color: $active-color;
    }
}

.carousel-section {
    height: 650px;
    background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);

    .container {
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 35px;
    }

    .slide-description {
        padding-top: 161px;
        color: white;
    }

    .slide-title {
        @extend .font-bold;
        font-size: 36px;
    }

    .slide-text {
        margin: 40px 0;
        line-height: 22px;
        font-size: 14px;
    }

    .slide-link {
        @extend .font-bold;
        text-decoration: none;
        line-height: 22px;
        font-size: 14px;
        color: white;
        border-bottom: 3px solid white;
    }

    @media (max-width: 900px) {
        overflow: hidden;
    }
}

.top-gadgets-section {
    margin-top: -55px;

    .container {
        justify-content: center;
    }
} 

.gadget-card {
    width: 390px;
    height: 280px;
    background-color: #F6F7F8;
    color: $primary-color;
    text-decoration: none;
    padding-top: 36px;
    padding-left: 30px;
    position: relative;

    &:first-child {
        background-color: #FF6875;
        color: white;

        .card-text {
            width: 220px;
        }
    }

    &:last-child {
        background-color: #C1C8CE;

        .card-text {
            width: 160px;
        }

        .card-image {
            bottom: 5%;
            right: -7%;
        }
    }

    &:nth-child(2) {
        
        .card-image {
            right: 7%;
        }

        .card-title, .price {
            position: absolute;
            bottom: 8%;
        }

        .price {
            right: 8%;
        }
    }

    .card-title {
        @extend .font-bold;
        font-size: 24px;
    }

    .card-text {
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0;
    }

    .card-image {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .price {
        font-size: 24px;
        opacity: .75;
    }
}

@media (max-width: 900px) {
    header {
        height: $top-menu-height;
        position: relative;
    }

    .top-menu {
        flex-shrink: 0;
    }

    .left-controls,
    .profile-link,
    #search-btn {
        display: none;
    }

    .logo-and-nav-container {
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 120px;
        }
    }

    .right-controls {
        justify-content: flex-end;
        width: 100%;
    }

    .cart-controls {
        margin-right: 10px;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    .cart-link > img {
        height: 30px;
        position: absolute;
        top: 2px;
        transform: translateX(calc(-100% - 6px));
        left: 0;
    }

    .cart-total {
        margin-left: 0;
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .hamburger {
        padding: 0;
        margin-left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(calc(-50% + 3px));
        display: inline-block;
    }

    .logo-and-nav-container {
        padding: 0;
    }

    nav {
        width: auto;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: $top-menu-height;
        padding: 6px 10px;
        background-color: #ff48c1f7;
        transform: translateX(-100%);
        transition: all .4s ease;

        &.shown {
            transform: translateX(0);
        }
    }

    .nav-link {
        font-size: 20px;
        padding: 6px 0;
    }
}

.best-sellers {
    height: 965px;

    .best-seller-header {
        @extend .font-semibold;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 89px;
    }

    .nav-best-seller {
        width: 478px;
        margin-bottom: 26px;
    }
    
    .seller {
        text-transform: unset;

        &:hover {
            border-bottom: 2px solid $active-color;
            padding-bottom: 7px;
            box-sizing: border-box;
        }
    }
}
.best-seller-more {
    @extend .font-bold;
    font-size: 14;    
    text-transform: uppercase;
    margin-top: 80px;

    & > a {
        text-decoration: none;
        color: $active-color;
        border-bottom: 2px solid $active-color;
    }    
}
.grid-container {
    height: 728px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 349px);
    gap: 30px;
    
    .product-container {
        border: 3px solid #F6F7F8;
        padding: 10% 0;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &:hover .product-controls {
            opacity: .9;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-hot {
            @extend .font-semibold;
            width: 40px;
            height: 20px;
            background-color: #FF4858;
            font-size: 12px;
            text-align: center;
            color: #FFFFFF;
            line-height: 20px;
            text-transform: uppercase;
            border-radius: 2px;
            position: absolute;
            top: 10px;
            left: 10px;
        }       

        .product-image-container > img {
            padding-bottom: 30px;  
            border-bottom: 1px solid #F6F7F8;
        }

        .product-controls {
            opacity: 0;
            position: absolute;
            background-color: white;
            top: 10%;
            right: 0;
            bottom: 50%;
            left: 0;
        }

        .like,
        .add-to-cart {
            width: 46px;
            height: 46px;
            border: 2px solid $active-color;
            border-radius: 50%;
            background: no-repeat center;
            background-color: transparent;
            cursor: pointer;
        }        

        .like {
            background-image: url('../img/like.svg');
        }

        .add-to-cart {
            background-image: url('../img/add-to-cart.svg');
        }    
    }
}

.grid-justify-center {
    display: grid;
    justify-content: center;
}

.product-title {
    @extend .font-semibold;
    font-size: 14px;;
    margin-top: 15px;
    margin-bottom: 29px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.rating {
    margin-bottom: 10px;    

    .star {
        color: #C1C8CE;
        padding-left: 2%;

        &::before {
        content: '\2605';
        }

        &.yellow-star {
        color: #FFC600;
        }
    }
}

.prices {
    padding-bottom: 30px;

    .new-price {
        font-size: 16px;
        color: #FF4858;
    }
    
    .old-price {
        color: #C1C8CE;
        text-decoration: line-through;
        padding-left: 5%;
    }
}

.footer-container {
    margin-top: 141px;
}

.wrapper {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    display: grid;
    grid-template-columns: repeat(6, 124px);
    grid-template-rows: 240px 2px 250px 57px;
    column-gap: 76px;
    padding: 0 5%;
}

.first-row-header {
    @extend .font-semibold;
    margin: 48px 0px;
    font-size: 18px;
}

.first-row-text {
    font-size: 12px;
    line-height: 20px;
}

.social-icons {
    margin-top: 30px;

   .twitter {
    padding-left: 35px;
   }
}

.box1 {
    grid-area: 1 / 1 / 2 / 3;
 }
 
 .box2 {
    grid-area: 1 / 3 / 2 / 5;
 }

 .box3 {
    grid-area: 1 / 5 / 2 / 7;
 }

 .footer-middle-border {
     grid-area: 2 / 1 / 3 / 7;
     border-top: 1px solid #CCC;
 }

.second-row > a {
    text-decoration: none;
    font-size: 14px;
    color: $primary-color;
    line-height: 32px;
}

.second-row-header {
    @extend .font-semibold;
    font-size: 18px;
    line-height: 28px;
    margin-top: 45px;
}

.second-row-header > a {
    font-size: 14px;    
}

.box10 {
    font-size: 14px;
    color: #C1C8CE;
    padding: 3% 5% 0 5%;
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;

    .payment-methods {
        justify-self: end;
    }
}