@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: 'Proxima Nova Rg';
  margin: 0;
  color: #26262A;
}

.font-bold, .carousel-section .slide-title, .carousel-section .slide-link, .gadget-card .card-title, .best-seller-more {
  font-weight: bold;
}

.font-semibold, .nav-link, .best-sellers .best-seller-header, .grid-container .product-container .product-hot, .product-title, .first-row-header, .second-row-header {
  font-weight: 600;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 216px;
}

.top-menu {
  height: 48px;
  border-bottom: 1px solid #FAFAFB;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu .dd:first-child {
  margin-right: 20px;
}

.hamburger {
  display: none;
  outline: none;
}

.profile-link,
.cart-link {
  font-size: 14px;
  text-decoration: none;
  color: #26262A;
  margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
  margin-right: 10px;
}

.cart-controls {
  margin-right: 58px;
}

.cart-link {
  margin-right: 0;
}

.cart-total {
  opacity: .5;
  margin-left: 10px;
  font-size: 14px;
}

.logo-and-nav-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 36px;
}

nav {
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #26262A;
}

.nav-link.active, .nav-link:hover {
  color: #33A0FF;
}

.carousel-section {
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.carousel-section .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 35px;
}

.carousel-section .slide-description {
  padding-top: 161px;
  color: white;
}

.carousel-section .slide-title {
  font-size: 36px;
}

.carousel-section .slide-text {
  margin: 40px 0;
  line-height: 22px;
  font-size: 14px;
}

.carousel-section .slide-link {
  text-decoration: none;
  line-height: 22px;
  font-size: 14px;
  color: white;
  border-bottom: 3px solid white;
}

@media (max-width: 900px) {
  .carousel-section {
    overflow: hidden;
  }
}

.top-gadgets-section {
  margin-top: -55px;
}

.top-gadgets-section .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gadget-card {
  width: 390px;
  height: 280px;
  background-color: #F6F7F8;
  color: #26262A;
  text-decoration: none;
  padding-top: 36px;
  padding-left: 30px;
  position: relative;
}

.gadget-card:first-child {
  background-color: #FF6875;
  color: white;
}

.gadget-card:first-child .card-text {
  width: 220px;
}

.gadget-card:last-child {
  background-color: #C1C8CE;
}

.gadget-card:last-child .card-text {
  width: 160px;
}

.gadget-card:last-child .card-image {
  bottom: 5%;
  right: -7%;
}

.gadget-card:nth-child(2) .card-image {
  right: 7%;
}

.gadget-card:nth-child(2) .card-title, .gadget-card:nth-child(2) .price {
  position: absolute;
  bottom: 8%;
}

.gadget-card:nth-child(2) .price {
  right: 8%;
}

.gadget-card .card-title {
  font-size: 24px;
}

.gadget-card .card-text {
  font-size: 12px;
  line-height: 20px;
  margin: 20px 0;
}

.gadget-card .card-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.gadget-card .price {
  font-size: 24px;
  opacity: .75;
}

@media (max-width: 900px) {
  header {
    height: 48px;
    position: relative;
  }
  .top-menu {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .left-controls,
  .profile-link,
  #search-btn {
    display: none;
  }
  .logo-and-nav-container img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 120px;
  }
  .right-controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .cart-controls {
    margin-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .cart-link > img {
    height: 30px;
    position: absolute;
    top: 2px;
    -webkit-transform: translateX(calc(-100% - 6px));
            transform: translateX(calc(-100% - 6px));
    left: 0;
  }
  .cart-total {
    margin-left: 0;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hamburger {
    padding: 0;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(calc(-50% + 3px));
            transform: translateY(calc(-50% + 3px));
    display: inline-block;
  }
  .logo-and-nav-container {
    padding: 0;
  }
  nav {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 48px;
    padding: 6px 10px;
    background-color: #ff48c1f7;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  nav.shown {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-link {
    font-size: 20px;
    padding: 6px 0;
  }
}

.best-sellers {
  height: 965px;
}

.best-sellers .best-seller-header {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 89px;
}

.best-sellers .nav-best-seller {
  width: 478px;
  margin-bottom: 26px;
}

.best-sellers .seller {
  text-transform: unset;
}

.best-sellers .seller:hover {
  border-bottom: 2px solid #33A0FF;
  padding-bottom: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.best-seller-more {
  font-size: 14;
  text-transform: uppercase;
  margin-top: 80px;
}

.best-seller-more > a {
  text-decoration: none;
  color: #33A0FF;
  border-bottom: 2px solid #33A0FF;
}

.grid-container {
  height: 728px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px)[4];
      grid-template-columns: repeat(4, 270px);
  -ms-grid-rows: (349px)[2];
      grid-template-rows: repeat(2, 349px);
  gap: 30px;
}

.grid-container .product-container {
  border: 3px solid #F6F7F8;
  padding: 10% 0;
  position: relative;
}

.grid-container .product-container:hover {
  cursor: pointer;
}

.grid-container .product-container:hover .product-controls {
  opacity: .9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .product-container .product-hot {
  width: 40px;
  height: 20px;
  background-color: #FF4858;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.grid-container .product-container .product-image-container > img {
  padding-bottom: 30px;
  border-bottom: 1px solid #F6F7F8;
}

.grid-container .product-container .product-controls {
  opacity: 0;
  position: absolute;
  background-color: white;
  top: 10%;
  right: 0;
  bottom: 50%;
  left: 0;
}

.grid-container .product-container .like,
.grid-container .product-container .add-to-cart {
  width: 46px;
  height: 46px;
  border: 2px solid #33A0FF;
  border-radius: 50%;
  background: no-repeat center;
  background-color: transparent;
  cursor: pointer;
}

.grid-container .product-container .like {
  background-image: url("../img/like.svg");
}

.grid-container .product-container .add-to-cart {
  background-image: url("../img/add-to-cart.svg");
}

.grid-justify-center {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-title {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 29px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating {
  margin-bottom: 10px;
}

.rating .star {
  color: #C1C8CE;
  padding-left: 2%;
}

.rating .star::before {
  content: '\2605';
}

.rating .star.yellow-star {
  color: #FFC600;
}

.prices {
  padding-bottom: 30px;
}

.prices .new-price {
  font-size: 16px;
  color: #FF4858;
}

.prices .old-price {
  color: #C1C8CE;
  text-decoration: line-through;
  padding-left: 5%;
}

.footer-container {
  margin-top: 141px;
}

.wrapper {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (124px)[6];
      grid-template-columns: repeat(6, 124px);
  -ms-grid-rows: 240px 2px 250px 57px;
      grid-template-rows: 240px 2px 250px 57px;
  -webkit-column-gap: 76px;
          column-gap: 76px;
  padding: 0 5%;
}

.first-row-header {
  margin: 48px 0px;
  font-size: 18px;
}

.first-row-text {
  font-size: 12px;
  line-height: 20px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons .twitter {
  padding-left: 35px;
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.box2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 2 / 5;
}

.box3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 1 / 5 / 2 / 7;
}

.footer-middle-border {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 2 / 1 / 3 / 7;
  border-top: 1px solid #CCC;
}

.second-row > a {
  text-decoration: none;
  font-size: 14px;
  color: #26262A;
  line-height: 32px;
}

.second-row-header {
  font-size: 18px;
  line-height: 28px;
  margin-top: 45px;
}

.second-row-header > a {
  font-size: 14px;
}

.box10 {
  font-size: 14px;
  color: #C1C8CE;
  padding: 3% 5% 0 5%;
  margin-bottom: 38px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.box10 .payment-methods {
  -ms-grid-column-align: end;
      justify-self: end;
}
/*# sourceMappingURL=site.css.map */